<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>demo</title>
	<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="http://www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>-->
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
		var app = angular.module('demo',[]).value("testvalue","word").factory('testfactory',function(testvalue){
			return{
				lable:function(){
					return "this can output : hello "+ testvalue;
				}
			}
		});
		
		
		app.controller("nameController",function($scope){
			$scope.Name = "Jim"
		}).directive("direct",function(){
			return {
				restrict : 'ECMA',
				template : '<div>direct:{{ info }}</div>',
				scope:{
					info : '@'//@forName
				}
			}
		});
		
	</script>
</head>
<body>

  <div ng-controller='MainController'>
        父亲: {{name}}
        <input ng-model="name" />
        <div my-directive></div>
  </div>
  <script>
    angular.module('myApp', []).controller('MainController', function ($scope) 
        {
                   $scope.name = 'leifeng';
        }).directive('myDirective', function () {
                            return {
                                        restrict: 'EA',
                                        scope:true,//改变此处的取值,看看有什么不同
                                        template: '<div>儿子:{{ name }}<input ng-model="name"/></div>'
                                    };
         });
  </script>

  </body>
  </html>
