<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>demo</title>
	<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="http://www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>-->

</head>
<body ng-app="demo" ng-init="name='tom'">
	<h1>hi,{{name}},{{demoservice().name}}</h1>
	
	<div ng-controller="tomController">
	<input type="text" ng-model="$parent.name"></input>
		name:{{name}}.
		length:{{len()}}
	</div>
	<div ng-controller="listController">
		<input ng-model="list" ng-list><br>
		<pre>list={{list}}</pre><br>
		<ol>
			<li ng-repeat="l in list">
				{{l}}
			</li>
		</ol>
	</div>


	<div ng-controller="formController">
	<form name="form" novalidate>
		Name:<input type="text" ng-model="user.name" name="uName" required />
		E-mail:<input type="email" ng-model="user.email" name="uEmail" required />
		<br>

		<div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">
			<span ng-show="form.uEmail.$error.required"> email is null </span>
			<span ng-show="form.uEmail.$error.email">email is not a valid email</span>
		</div>

		<input type="checkbox" ng-model="user.agree" name="userAgree" required />
		I argree:<input type="text" ng-show="user.agree" ng-model="user.agreeSign" required/>
		<div ng-show="!user.agree || !user.agreeSign">agree and sign</div>
		
		<button ng-click="reset()" ng-disabled="isUnchanged(user)">reset</button>
		<button ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">save</button>
		<br>

		master:{{master}}
	</form>
	</div>

	<hr>
	<h1>{{'this is filter test' | testfilter }}</hi>
	<div ng-controller="xmpController">
		<h1> {{userSay}} </h1>
	</div>
	<hr>
	<div ng-controller="myController">
		<input type="text" ng-model="message"/>
		<br>
		<button ng-click="callNotify(message)">notify</button>
	</div>

	<div ng-include="'footer.html'"></div>
</body>
<script type="text/javascript" src="angular.min.js"></script>
<script>
	var app = angular.module('demo',[])
	var tomController = function($scope){
		$scope.name = "xxx";
		$scope.len = function(){
			return $scope.name.length;
		};
	};
	
	app.controller("tomController",tomController).controller("listController",function($scope){
		$scope.list = ['a','b','c'];		
	}).controller("formController",function($scope){
		$scope.master = {};
		$scope.update = function(user) {
			$scope.master = angular.copy(user);
		};
		$scope.reset = function() {
			$scope.user = angular.copy($scope.master);
		};
		$scope.isUnchanged = function(user) {
			return angular.equals(user,$scope.master);
		};
		//$scope.reset();
	}).controller("myController",function($scope,notify){
		$scope.callNotify = function(msg) {
			notify(msg);
		};
	}).controller("xmpController",function($scope,uservalue){
		$scope.userSay = uservalue.say("apple");	
	});
	app.factory("notify",["$window",function(win){
		var msgs = [];
		return function(msg){
			msgs.push(msg);
			if(msgs.length == 3){
				win.alert(msgs.join("\n"));
				msgs = [];
			}
		};
	}]).factory("greeter",function($window){
		return {
			greet : function(text){
				$window.alert(text);
			}
		}
	}).filter("testfilter",function(){
		return function(name){
			return 'hello,' + name ;
		}	
	}).value("uservalue",{
		name : 'jim',
		setName : function(people){
			this.name = people.name;
		},
		say : function(msg) {
			return this.name + ' say:' + msg;
		}
	}).run(function(uservalue){
			uservalue.setName({name : "jim.k"});
	});
	//var injector = angular.injector('demo');
	//var greeter = injector.get('greeter');
	//greeter.greet("this is greet");
</script>
</html>
