<!doctype html>
<html ng-app="demo">
<head>
    <meta charset="utf-8">
    <title>demo</title>
	<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="http://www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>-->
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
		var app = angular.module('demo',[]).value("testvalue","word").factory('testfactory',function(testvalue){
			return{
				lable:function(){
					return "this can output : hello "+ testvalue;
				}
			}
		});
		
		app.controller('phoneController',function($scope){
			$scope.phones = [ { name : 'zzj' , snippet : '123456' },{ name : 'zs' , snippet : '7864' } ];
			//$scope.tip = testfactory.lable();
			$scope.tip = "this is tip";
		});
		
		
		app.controller("webcontroller",function($scope,$http){
			var url="http://s.ktvdaren.com/ktv?p=1&size=10&wd=40.031677&jd=116.410164&r=50000&callback=JSON_CALLBACK&_=1429845411870";
			//$http.get("http://www.w3cschool.cc/try/angularjs/data/Customers_JSON.php").success(function(response) {
				//alert("xxxx");
				//$scope.names = response;
			//});
			$http.jsonp(url).success(function(response){
				$scope.ktvs = response.result.matches;
			});
			
		});
		
		
		
		app.controller("domcontroller",function($scope){
			$scope.myswitch=true;
		});
		
		//function phoneController($scope){
			//$scope.phones = [ { name : 'zzj' , snippet : '123456' },{ name : 'zs' , snippet : '7864' } ]; //1.2.5
		//}
	</script>
</head>
<body>
	用户名：<input type="text" ng-model="username" placeholder="张三">
        <hr>
        Hello {{username || 'World'}}!
		
		<p>Nothing here {{'yet' + '!'}}</p>
		<p>1 + 2 = {{ 1 + 2 }}</p>
		<div>
		<ul>
    <li>
        <span>Nexus S</span>
        <p>
        Fast just got faster with Nexus S.
        </p>
    </li>
    <li>
        <span>Motorola XOOM™ with Wi-Fi</span>
        <p>
        The Next, Next Generation tablet.
        </p>
    </li>
</ul>
</div> 
<hr/>
<div  ng-controller="phoneController">
<ul>
    <li ng-repeat="phone in phones">
      {{phone.name}}
    <p>{{phone.snippet}}</p>
    </li>
  </ul>
  {{tip}}
</div>
<div ng-controller="webcontroller">
	<li ng-repeat="p in ktvs">
		{{p.storename}}
	</li>
</div>
<hr/>
<div ng-controller="domcontroller">
<input  type="button" ng-disabled="myswitch" value="click me"></input>
<input type="checkbox" ng-model="myswitch"></input>
<p>{{myswitch}}</p>
<p ng-show="myswitch">ngshow</p>
<p ng-hide="myswitch">nghide</p>
</div>
<hr/>
<div>
	<input type="button" value="{{count}}" ng-click="count=count+1"></input>
<div>
</body>
</html>